---
title: imprint
---

.container
  .section
    .row
      %br/
      %h1.header.center.orange-text.text-lighten-2 Chaos Cologne - Edge of Control

    .row
      .col.s12.m6
        .card.grey.lighten-3
          .card-content
            .card-title.black-text Imprint
            %p
              You can find the full imprint at:
              %a{href: '//koeln.ccc.de/impressum/index.xml'} C4 e.V.
      .col.s12.m6
        .card.grey.lighten-3
          .card-content
            .card-title.black-text License
            %p.left-align.light The following CC images were used and resized:
            %ul
              %li
                %a.black-text{:href => "https://www.flickr.com/photos/neupau/3623608758"} Image
              %li
                %a.black-text{:href => "https://www.flickr.com/photos/blinkenarea/7233798498"} Image
              %li
                %a.black-text{:href => "https://www.flickr.com/photos/blinkenarea/7220829916"} Image
