---
title: cfp
---

.container
  .section
    .row
      %br/
      %h1.header.center.orange-text.text-lighten-2 Chaos Cologne - Edge of Control

    .row
      .col.s12.l4.center
        %p.left-align.light
          is an event for hacktivists, media artists, hackers, and makers, organized by the Chaos Computer Club Cologne (C4), in conjunction with the world-renowned Academy of Media Arts, Cologne (KHM).

      .col.s12.l4.center
        %p.left-align.light
          From May 16th-17th, we meet at KHM, Cologne. Chaos Cologne will feature talks and workshops, covering technical as well as artistic aspects of our digital society.
          %br/
          We rely on you to make that happen!

      .col.s12.l4.center
        %p.left-align.light
          Help as a volunteer and foster the event while it is running. Come as a speaker and share your knowledge and insights with your fellows. Come as you are and be baffled by a maze of technical and artistic challenges, waiting for you within KHM's realm, confronting you with the edge of control.

  .section
    .row
      .col.s12.center
        Eager to join? Curious? So let's get specific:
        %hr

  .section.no-pad-bot
    .row
      .col.s12
        %h3.center 1C2 / Chaos Cologne: Call for Participation
        %p.light
          May 16th-17th, KHM, Cologne, Germany
          %br/
          %a{:href => "http://chaos.cologne/cfp.html"}
            %b http://chaos.cologne/cfp.html
          %br/
          Chaos Cologne "Edge of Control" is an event for hacktivists, media artists, hackers, and makers.

      .col.s12.l4
        %h5.center TALKS
        %p.light
          As a community-organized conference, we want to offer you the best lectures you can get. For this,
          %i we need your talk submissions
          We’re offering one-hour slots (including Q&amp;A). Additionally, your talk will be recorded and put online after the conference.

      .col.s12.l4
        %h5.center VOLUNTEERS
        %p.light
          We need your help on-site to make Chaos Cologne great. Please register as soon as we have the registration online.

      .col.s12.l4
        %h5.center WORKSHOPS
        %p.light
          Workshops are a key aspect of Chaos Cologne. We use them to share skillsets between different people, different communities and (sub-)cultures. Workshops can be anything from soldering simple assembly kits, over setting up open WLAN routers, to building small gimmicks. We strongly encourage you to bring your own project and help people DIY.

  .section.no-pad-bot
    .row
      .col.s12
        %p.light
          If you have a talk, submit it using our talk submission site! We're looking forward to hear from you.
          Undecided on whether your talk is appropriate? Here’s a non-exhaustive list of things we are interested in:

        %ul.light
          %li Code as art
          %li Hacktivism
          %li Chaos as competence - how to manage the unmanageable
          %li Biometrics
          %li (Evading) Mass surveillance &amp; privacy
          %li Drones and robots
          %li Beyond the market
          %li Art &amp; security
          %li Automated video analysis
          %li Copyright as a problem
          %li How to create viral content in social media
          %li Techniques of free expression
          %li Science as well as art on the edge of control

        %p.light
          We welcome anything related to these topics (or close enough).

  .section.no-pad-bot
    .row
      .col.s12
        %h5.center SUBMISSION GUIDELINES
        %p.light
          In order to cover the broadest possible spectrum of topics all talk submissions will be reviewed before they are selected.
          %br/
          For your submission to get selected, it is crucial to provide it with a meaningful and sufficient description. The description should give us a brief, clear and concise overview about your presentation or workshop. Your description will be the content comittee's primary source of information to decide about your submission's approval.The lecture part of your talk should not exceed
          %i 45 minutes
          because we want to reserve at least 15 minutes for audience Q&amp;A, as well as for a proper speaker handover.
          %br/

          It is fine with us if your talk has already been held at another conference as long as your content is up to date. It is mandatory to refrain from submitting any company and/or product propaganda.

  .section.no-pad-bot
    .row
      .col.s12
        %h5.center SUBMISSION OF TALKS AND WORKSHOPS
        %p.light
          All talks, lecture and workshop proposals must be submitted using our online lecture submission system (
          %a{:href => "https://frab.cccv.de/1c2/cfp"} https://frab.cccv.de/1c2/cfp
          ). Please follow the instructions given there.

          If you have any questions regarding your submission, feel free to contact us at orga@chaos.cologne.
          If you want to do things which don’t require a lecture or workshop room (e.g. an artistic installation or some other kind of project), please contact us directly at orga@chaos.cologne in order to find out if your plans can be realized at Chaos Cologne.
          Please note: Chaos Cologne is a non-profit oriented event. Neither speakers nor organizers get paid.

          However, financial help on travel expenses and accommodation is a possibility, should it be really needed. Don’t be shy and state your requirements in the application when submitting your lecture. We’ll contact you after your talk is accepted to see if we can work something out.

  .section.no-pad-bot
    .row
      .col.s12.l4
        %h5.center PUBLICATION
        %p.light
          Audio and video recordings of the lectures will be published online in various formats. All material will be available under a Creative Commons Attribution 3.0 Germany License. Note that this license allows for the commercial use of the content to allow media organisations to use snippets from lecture recordings for their reporting. If you wish to alternatively use a Creative Commons Attribution-NonCommercial 3.0 Germany License or if you require that your lecture is not recorded or streamed at all, please state this with your submission.
          %i If you don’t tell us otherwise, audio and video of your lecture will be licensed under a Creative Commons Attribution 3.0 Germany License.

      .col.s12.l4
        %h5.center DATES &amp; DEADLINES
        %p.light
          That’s our schedule:
          %br/
        %ul.light
          %li
            %i April 17th, 2015 (23:59 UTC):
            Submission deadline
          %li
            %i April 30th, 2015:
            Final notification of acceptance
          %li
            %i May 16th-17th, 2015:
            Chaos Cologne

      .col.s12.l4
        %h5.center CONTACT
        %p.light
          If there are further questions, simply write an e-mail to orga@chaos.cologne. We'll reply as soon as possible.
          %br/
          Follow us:
          %a{:href => "https://twitter.com/chaos_cologne"} https://twitter.com/chaos_cologne
          %br/
          Join us:
          %a{:href => "http://chaos.cologne/"} http://chaos.cologne/
