---
title: FAQ
---

#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br/
      %br/
      %h1.header.center.cyan-text.text-lighten-2 Frequently Asked Questions
  .parallax
    %img{:alt => "Unsplashed background img 2", :src => "images/background3.jpg"}/

.container

  .section
    .row
      .col.s12
        %h5 How can I contact you?
        %p.light
          Please contact us via email at orga@chaos.cologne

    .row
      .col.s12
        %h5 How much will tickets cost?
        %p.light
          There will be free entrance, as long as you have registered and reserved tickets.

    .row
      .col.s12
        %h5 Can I get a press pass/ press accreditation anyway?
        %p.light
          Our friendly reservation system will has an option for press accreditation.
          Please keep in mind that taking fotos of attendees is a touchy subject.

    .row
      .col.s12
        %h5 So where can I reserve tickets?
        %p.light
          :markdown
            <https://1c2.prezale.de/>

