---
title: FAQ
---

.container
  .section
    .row
      %br/
      %h1.header.center.orange-text.text-lighten-2 Frequently Asked Questions

  .section
    .row
      .col.s12
        %h5 Contact
        %p.light
          You can contact us via email at orga@chaos.cologne

    .row
      .col.s12
        %h5 Press Accreditation
        %p.light
          Our friendly Reservation System will have an option for press accreditation.
          Please keep in mind that taking fotos of attendees is a touchy subject.

    .row
      .col.s12
        %h5 Parking
        %p.light
          Chaos Cologne is right next to Europes largest parking space!
          Getting free parking in Cologne might be difficult, though.
