---
title: FAQ
---

.container
  .section
    .row
      %br/
      %h1.header.center.orange-text.text-lighten-2 Frequently Asked Questions

  .section
    .row
      .col.s12
        %h5 How can I contact you?
        %p.light
          Please contact us via email at orga@chaos.cologne

    .row
      .col.s12
        %h5 Can I get press accreditation?
        %p.light
          Our friendly Reservation System (soon to be online) will have an option for press accreditation.
          Please keep in mind that taking fotos of attendees is a touchy subject.

    .row
      .col.s12
        %h5 Where can I park my car?
        %p.light
          There are many car parks nearby: https://www.koeln.de/apps/parken/ The closest is the Parkhaus Maritim.
          Getting free parking in Cologne will be difficult.
