---
title: FAQ
---

.container
  .section
    .row
      %br/
      %h1.header.center.orange-text.text-lighten-2 Frequently Asked Questions

  .section
    .row
      .col.s12
        %h5 How can I contact you?
        %p.light
          Please contact us via email at orga@chaos.cologne

    .row
      .col.s12
        %h5 How much will tickets cost?
        %p.light
          There will be free entrance, as long as you have registered and reserved tickets for yourself. 

    .row
      .col.s12
        %h5 Can I get a press pass/ press accreditation anyway?
        %p.light
          Our friendly reservation system (soon to be online) will have an option for press accreditation. 
          Please keep in mind that taking fotos of attendees is a touchy subject.

    .row
      .col.s12
        %h5 So where can I reserve tickets?
        %p.light
          We'll let you know here. Or follow us on Twitter, where we'll announce the launch of the reservation system: https://twitter.com/chaos_cologne

