---
title: Info
---

.container
  .section
    .row
      %br/
      %h1.header.center.orange-text.text-lighten-2 Info

  .section
    .row
      .col.s12
        %h5 Date
        %p.light
          The Chaos Cologne conference will open on Friday 15 May, 20:00h with a keynote by Cornelia Sollfrank, net art pioneer, followed by two days of workshops, talks, games and performance on Saturday 16 and Sunday 17 May, 2015.
    .row
      .col.s12
        %h5 Location
        %p.light
          The conference will take place at the Academy of Media Arts Cologne (Kunsthochschule für Medien / KHM).
          The KHM as an art school brings together practice, theories and reflections. It creates a special experimental climate for independent, artistic work.  Between media, around media, or without being defined by any medium in particular, the KHM combines perspectives, methods, research and ‘thinking practises’.
For more info please see http://www.khm.de/

    .row
      .col.s12
        %h6 By Car
        %p.light
          Enter 'Filzengraben 2, 50676 Köln' into your navigational system. There are many car parks nearby, see: https://www.koeln.de/apps/parken/ The closest is the Parkhaus Maritim.
          Getting free parking in Cologne will be difficult.

    .row
      .col.s12
        %h6 By Train
          Take a train to Köln Hauptbahnhof and take a nice 1.5km walk along the Rhine. Or take the U-Bahn to Heumarkt.

    .row
      .col.s12
        %h5 Volunteering
        %p.light
          We're still looking for volunteers. If you register with our Reservation System, there should be a 'volunteer' option. Most volunteering will be coordinated on site. We're currently looking for help in the following areas:
          %ul
            %li
              Bar
            %li
              Helpdesk
            %li
              Event takedown (Sunday night and Monday morning)

    .row
      .col.s12
        %h5 Reservation and Presale
        %p.light
          Since space is limited, we recommend to make a reservation with our friendly reservation system: https://1c2.prezale.de/
