---
title: Info
---

.container
  .section
    .row
      %br/
      %h1.header.center.orange-text.text-lighten-2 Info

  .section
    .row
      .col.s12
        %h5 Date
        %p.light
          You can contact us via email at orga@chaos.cologne

    .row
      .col.s12
        %h5 Location
        %p.light
          You can contact us via email at orga@chaos.cologne

    .row
      .col.s12
        %h6 By Car
        %p.light
          You can contact us via email at orga@chaos.cologne

    .row
      .col.s12
        %h6 By Train

    .row
      .col.s12
        %h5 Volunteering
        %p.light
          You can contact us via email at orga@chaos.cologne
