---
title: Info
---

.container
  .section
    .row
      %br/
      %h1.header.center.orange-text.text-lighten-2 Info

  .section
    .row
      .col.s12
        %h5 Date
        %p.light
          The Chaos Cologne conference will open on Friday 15 May and take place from 16 to 17 May, 2015. There will be a keynote by Cornelia Sollfrank, net art pioneer, followed by a concert by the KHM's Klanglabor.

    .row
      .col.s12
        %h5 Location
        %p.light
          The conference will take place at the Academy of Media Arts Cologne (Kunsthochschule für Medien / KHM).
          The KHM creates a special experimental climate for independent, artistic work.  Between media, around media, as well as without being defined by any medium in particular, the KHM combines perspectives, methods, research and ‘thinking practises’, that cannot be found in this kind of constellation at classic art schools.
Please see http://www.khm.de/metaw/kontakt/lage-anfahrt/

    .row
      .col.s12
        %h6 By Car
        %p.light
          Enter 'Filzengraben 2, 50676 Köln' into your navigational system. See the FAQ for info on parking space.

    .row
      .col.s12
        %h6 By Train
          Take a train to Köln Hauptbahnhof and take a nice 1.5km walk along the Rhine. Or take the U-Bahn to Heumarkt.

    .row
      .col.s12
        %h5 Volunteering
        %p.light
          We're still looking for volunteers. If you register with our Reservation System, there should be an option 'volunteer'. Most volunteering will be coordinated on site. We're currently looking for help in the following areas:
          %ul
            %li
              Bar
            %li
              Helpdesk
            %li
              Event teardown

    .row
      .col.s12
        %h5 Reservation and Presale
        %p.light
          Since space is limited, we recommend to make a reservation with our friendly reservation system, soon to be online. More details to follow here soon.
