---
title: Program
---

#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br/
      %br/
      %h1.header.center.blue-text.text-lighten-2 Program
      .row.center
        %h5.header.col.s12.light Workshops and Lectures
  .parallax
    %img{:alt => "Unsplashed background img 2", :src => "images/background3.jpg"}/

.container
  .section
    .row
      .col.s12.m6
        .icon-block
          %h2.center.grey-text
            .mdi-action-schedule
            %a{:href => "/Fahrplan"} Schedule
      .col.s12.m6
        %h5 Workshops and Lectures
        %p.light
          You can find the complete list of workshops and lectures in our Fahrplan.
          If you prefer the fahrplan on your mobile device you can install the app from the iTunes store or
          use one of the known android (?) apps.

  .section
    .row
      .col.s12
        %h5 Freifunk
        %p.light
          Freifunk will have a few desks, offering discussions &amp; workshops about routers and networks as well as a lecture about self organization, area thinking and communication.  At our desks you can get more informations about freifunk, talk to people of different freifunk communities, or learn how to flash a freifunk router. See u there!

  .section
    .row
      .col.s12.m4
        %img{:alt => "Cozy Chaos", :src => "images/cozy_chaos.jpg", width: '100%'}/
      .col.s12.m8
        %h5 Cozy Chaos „die Haut um das Nichts“
        %p.light
          2-tägiger Strickkurs in Intervallen zur Bildung dysfunktionaler Ergebnisse.
          %br/
          Haktivisten, Artisten, Besucher und Maker als sporadisches Kollektiv stricken raumgreifenden Selbstzweck aus dem imaginären Zentrum des Cozy Chaos.
