---
title: Program
---

#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br/
      %br/
      %h1.header.center.blue-text.text-lighten-2 Program
      .row.center
        %h5.header.col.s12.light Workshops and Lectures
  .parallax
    %img{:alt => "Unsplashed background img 2", :src => "images/background3.jpg"}/

.container
  .section
    .row
      .col.s12
        %h5 Workshops and Lectures
        %p.light
          You can find the complete list of workshops and lectures in our Fahrplan.
          If you prefer the fahrplan on your mobile device you can install the app from the iTunes store or
          use one of the known android (?) apps.
          %br/
          // %a{:href => '/Fahrplan'} Schedule

  .section
    .row
      .col.s12
        %h5 Freifunk
        %p.light
          Freifunk will have a few desks, offering discussions about routers and networks as well as ...

  .section
    .row
      .col.s12
        %h5 Cozy Chaos „die Haut um das Nichts“
        %p.light
          2-tägiger Strickkurs in Intervallen zur Bildung dysfunktionaler Ergebnisse.
          %br/
          Haktivisten, Artisten, Besucher und Maker als sporadisches Kollektiv stricken raumgreifenden Selbstzweck aus dem imaginären Zentrum des Cozy Chaos.

  .section
    .row
      .col.s12
        %h5 Raumzeitlabor
        %p.light
          // %a{:href => 'https://raumzeitlabor.de/'} Homepage
